{% extends 'blog/base.html' %}
{%block dp%}
    <h1 class="info"> {{ view.kwargs.username}}'s posts ({{page_obj.paginator.count}}) </h1>
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a></h1>
            <p class="padd">{{post.description|linebreaksbr}}</p>
            <small class="padd" >  
                <a class="author" href=""> {{post.author}}  </a> 
             </small>  
            <small class="">{{post.date|date:"d F, y"}}</small>
        </div>
    {%endfor%}
    <div class="pagination">
        {% if is_paginated %}
        
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}
            {% for p in page_obj.paginator.page_range%}
                {% if p == page_obj.number %}
                    {{p}}
                {% elif p > page_obj.number|add:'-3' and p < page_obj.number|add:'3' %}
                <a href="?page={{ p}}">{{p}}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %} 
                <a href="?page={{ page_obj.next_page_number}}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages}}">Last &raquo;</a>
            {% endif %}
        {% endif%}
    </div>
{%endblock dp%}